@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

$cent: center;

*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}



.container {
    padding: 24px;
    margin: 0 auto;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

p{
    line-height: 1.5;
}

li {
    list-style: none;
    text-decoration-line: none;
}

a{
    text-decoration: none;
}

b{
    color: black;
}

.partner__img{
    width: 100%;
    max-width: 80px;
}

/* 

Nav 

*/

#landing{
    background-color: #242422;
}

nav {
display: flex;
justify-content: space-between; 

}

.nav__logo{
    filter: invert(1);
    z-index: 1;
    border-radius: 9999px;
}

.nav__list{
    display: flex;
    align-items: $cent;
    justify-content: $cent;    
}

.nav__link {
    padding: 0 16px;
    font-size: 20px;
    color: white;
    font-weight: 700;
}

.nav__link--anchor {
    border-radius: 9999px;
    padding: 16px;
    font-size: 16px;
    color: white;
   
    font-weight: 700;
    transition: 300ms ease all;
}

.nav__link--anchor:hover{
    opacity: 0.6;
}

// 
// HOME
// 


.home__wrapper {
    display: flex;
    padding: 60px 0;
    margin: 0 auto;
    animation: 400ms fade-up ease
}

@keyframes fade-up{
    0% {
        opacity: 0;
        transform: translateY(80px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.home__text {
    margin: 64px 0 24px 0;
    width: 100%;
}

.home__title {
    font-size: 36px;
}

.home__para {
    font-size: 18px;
    padding: 16px 0;
}

.home__partner {
    opacity: 0.6;
}

.home__img--wrapper{
    width: 100%;
    align-items: $cent;
    padding-left: 40px;
    height: 100%;
}

.home__img{
    margin: 60px 0 0 0px ;
    object-fit: fill;
}

/* 

Pricing 

*/

#pricing {
    padding: 24px 0;
    animation: 400ms fade-left ease
}

@keyframes fade-left{
    0% {
        opacity: 0;
        transform: translatex(-80px);
    }
    100% {
        opacity: 1; 
        transform: translateX(0);
    }
}


.pricing__title {
    font-size: 24px;
    padding-bottom: 16px;
}

.pricing__text {
    text-align: $cent;
    padding-bottom: 36px;
}

.pricing__link {
    color: black;
    font-size: bolder;
    font-weight: 700;   
}

.price__montage{
    display: flex;
    align-items: $cent;
    justify-content: $cent;
    flex-direction: column;
}

.price__heading {
    padding: 16px 0;
    font-size: 24px;
    font-weight: bolder;
}

.price__table{
    border-collapse: collapse;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba($color: black, $alpha: 0.15);
    thead{
        background-color: #009879;
        color: white;
        text-align: left;
        font-weight: bold;
    }

    th{
        padding: 16px 16;
        margin: 10px 0; 
        font-size: 0.9em;
        min-width: 100px;
    }
    td{
        margin: 10px 0;
        padding: 8px;
        font-size: 0.9em;
        min-width: 100px;
    }

    tbody {
        tr{
        border-bottom: 1px solid #ddd;
        }
        tr:last-of-type {
            border-bottom: 2px solid #009879;
        }
    }
    
    

}



.cross{
    text-decoration-line: line-through;
}

// 
// CONTACTS
// 

#contact{
    display: flex;
    justify-content: $cent;
    align-items: $cent;
}

.contact__wrapper{
    display: flex;
    flex-direction: column;
}

.contact__link{
    padding: 16px;
    color: #009879;
}

.contact__head{
    padding: 8px;
}

.contact__clr{
    color: #009879;
    font-size: 24px;
    font-weight: bold;
}

.red{
    color: red;
}

// 
//
// RESPONSIVENESS
//  
// 

@media (max-width: 700px) {
    .home__title{
        font-size: 36px;
    }
    .home__para{
        font-size: 16px;
    }
    .home__wrapper{
        flex-direction: column;
    }
    .home__img{
        width: 100%;
    }
    .home__partner{
        width: 100%;
        max-width: 300px;
    }
    .price__table th td{
         max-width: 20px;
    }
}