@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

$cent: center;

*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}



.container {
    padding: 24px;
    margin: 0 auto;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

p{
    line-height: 1.5;
}

li {
    list-style: none;
    text-decoration-line: none;
}

a{
    text-decoration: none;
}

b{
    color: black;
}

.partner__img{
    width: 100%;
    max-width: 80px;
}

/* 

Nav 

*/

#landing{
    background-color: aqua;
}

nav {
display: flex;
justify-content: space-between; 

}

.nav__logo{
    filter: invert(1);
    z-index: 1;
}

.nav__list{
    display: flex;
    align-items: $cent;
    justify-content: $cent;    
}

.nav__link {
    padding: 0 16px;
    font-size: 20px;
    color: white;
    font-weight: 700;
}

.nav__link--anchor {
    border-radius: 9999px;
    padding: 16px;
    font-size: 16px;
    color: white;
    background-color: black;
    font-weight: 700;
    transition: 300ms ease all;
}

.nav__link--anchor:hover{
    opacity: 0.6;
}

// 
// HOME
// 


.home__wrapper {
    display: flex;
    padding: 60px 0;
    margin: 0 auto;
}

.home__text {
    margin: 64px 0 24px 0;
    width: 100%;
}

.home__title {
    font-size: 36px;
}

.home__para {
    font-size: 18px;
    padding: 16px 0;
}

.home__partner {
    opacity: 0.6;
}

.home__img--wrapper{
    width: 100%;
    align-items: $cent;
    padding-left: 40px;
    height: 100%;
}

.home__img{
    margin: 60px 0 0 0px ;
    object-fit: fill;
}

/* 

Pricing 

*/

#pricing {
    padding: 24px 0;
}

.pricing__title {
    font-size: 24px;
    padding-bottom: 16px;
}



.pricing__text {
    text-align: $cent;
    padding-bottom: 36px;
}

.pricing__link {
    color: black;
    font-size: bolder;
    font-weight: 700;   
}

.price__montage{
    display: flex;
    align-items: $cent;
    justify-content: $cent;
    flex-direction: column;
}

.table__styl, th, td {
    width: 100%;
    max-width: 400px;
    border: 1px solid black;
}

.cross{
    text-decoration-line: line-through;
}

// 
// CONTACTS
// 

#contact{
    display: flex;
    justify-content: $cent;
    align-items: $cent;
}

.contact__link{
    padding: 24px;
}